.header {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
            list-style: none;
            margin-top: 10px;

            h1 {
                    color: #724C21;
                    font-size: 70px;
                    margin-top: -11px;
            }

            img {
                height: 64px;
                width: 64px;
                margin-left: 21px;
                margin-top: 10px;
            }

            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 32px;
                font-weight: 700;
                color: #F9B23D;
                margin-left: 26px;
                margin-top: 5px;
            }
        }
    }
}
