.hasil-permainan {
        background-color: #4C9654;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 38px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        margin-top: 85%;
        color: white;
        transform: rotate(-18deg);
}